<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Recurring Charge",
      icon: "<%= asset_path('favicon.png') %>"
    });
  });
</script>

<% if @shop_domain.present? %>
  <% if @charge_status == "accepted" %>
   <%= @charge_status.inspect %>
   <%= @shop_domain.inspect %>
   Call back page for approved charge
  <% elsif @charge_status == "decline"  %> 
  <div class= "row">  
    <div class = "col-md-10 col-centered">
      <h3>Sorry, you have to approve charge before start using Product Tags Translator app. 
      The trial period is 7-day. You will not charge anything until the trial ends and you can cancel anytime without any obligation. </h3> 
    </div>
  </div>  
  <div class= "row">
    <div class = "col-centered">
      <%= link_to "Go to charge confirmation page",root_path(:shop => @shop_domain), class:"btn btn-primary" %>
      </div>    
  </div>  
  <% end %>

<% end %>  


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if @recurring_application_charge.present? && !@recurring_application_charge.try(:capped_amount) %>

  <% else %>
  
<% end %>
