<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Recurring Charge",
      icon: "<%= asset_path('favicon.png') %>"
    });
  });
</script>

<% if @shop_domain.present? %>
  <% if @charge_status == "accepted" %>

  <div class="container">
    <div class= "row centered">  
      <div class= "col-md-12 text-center">
         <h4>Thank you for using our app !!</h4>
        <br>
         <h4>You can click the button below to go to instructions page.</h4>
      </div>
    </div>  
    <div class= "row centered">
        <div class="col-md-12 text-center">
          <%= link_to "Go to instructions page",instructions_path(:shop => @shop_domain), class:"btn btn-primary" %>              
        </div>
    </div>
  </div>  


  <% elsif @charge_status == "decline"  %>


  <div class="container">
    <div class= "row centered">  
      <div class= "col-md-12 text-center">
        Sorry, you have to approve charge before start using Product Tags Translator app.
        <br>
        The trial period is 7-day. You will not charge anything until the trial ends and you can cancel anytime without any obligation. 
      </div>
    </div>  
    <div class= "row centered">
        <div class="col-md-12 text-center">
          <%= link_to "Go to charge confirmation page",root_path(:shop => @shop_domain), class:"btn btn-primary" %>              
        </div>
    </div>
  </div>

  <% end %>

<% end %>  


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if @recurring_application_charge.present? && !@recurring_application_charge.try(:capped_amount) %>

  <% else %>
  
<% end %>
