<div class="container">
	<div class= "row col-sm-12">
			<% if @shop %>	

			<div class= "pull-left">
				<span class= "btn-group">	
					<%= button_to 'Sync tags from shop', update_tags_path, method: :get, params: {shop: @shop.shop_domain}, class: "btn btn-primary btn-custom btnbtn" %>
				</span>

				Total tags: <%= @tag.count %>
			</div>

			<% end %>
			
 <%= form_tag update_multiple_tags_path, :html => { :method => :put } do %>
			<% if @shop %>
				<div class= "pull-right">
				   <span class= "btn-group"> 
						<%= mail_to 'support@solutionsify.com','Contact Us', class: "btn btn-primary btn-custom btnbtn" %>
					</span>

					<span class= "btn-group"> 
						<%= link_to "Instructions", instructions_path(shop: @shop_domain), class: "btn btn-primary btn-custom btnbtn" %>
					</span>
					<span class= "btn-group"> 
						<%= link_to "FAQ", "http://www.solutionsify.com/product-tags-translator-shopify-app-faqs", class: "btn btn-primary btn-custom btnbtn" %>
					</span>				
					<%= submit_tag "Update tags" , class: "btn btn-primary update-button", disabled:"disabled" %>
				</div>
			<% end %>					
			
	</div>

	 <% if (@error_msg.nil?) %>
		<div class="row">
			<div class="column small-12">


				<br>



				<div class="row col-md-12">
				<table class="table table-striped ">
					<thead>
						<tr>
							<!-- <span class="col-md-6"> -->
							<th class= "text-center">
								Original tags
							</th>
							<!-- </span> -->
							<!-- <span class="col-md-6"> -->
							<th class= "text-center">
								Translated tags
							</th>
							<!-- </span> -->
						</tr>	
					</thead>	
				
				<tbody>
					<% i = 0 %>
					<% @tag.each do |tag| %>
					<% i += 1 %>
						<tr>
						<% if i <= @normal_tag_no %>
							<%= hidden_field_tag "shop", @shop.shop_domain %>
							<%= hidden_field_tag "tag_ids[]", tag.id %>	
							<td class= "text-center", id= "label-<%= tag.id %>"><%= tag.title.squish %></td>	

							<td class= "text-center">
								<%= fields_for "tags[]", tag do |t| %>
								       <%= t.text_field :thai_title, class: "thai_title_field form-control", id: "field-#{tag.id}" %>
								<% end %>
							</td>
						 <% elsif i > @normal_tag_no %>
						 	<% i+= 1 %>
						 	<%= hidden_field_tag "shop", @shop.shop_domain %>
							<%= hidden_field_tag "tag_ids[]", tag.id %>
						  <% if !(@cat_container.include?(tag.group_tag_cat)) %>
						  	<% @cat_container << tag.group_tag_cat.squish %>
							<td class= "text-left", id= "label-<%= tag.id %>"><%= tag.group_tag_cat.squish %></td>	
							<td class= "text-center">
								<%= fields_for "tags[]", tag do |t| %>
								       <%= t.text_field :group_tag_thai_cat, class: "thai_title_field form-control", id: "field-#{tag.id}" %>
								<% end %>
							</td>

							<td class= "text-right", id= "label-<%= tag.id %>"><%= tag.group_tag_sub.squish %></td>	
							<td class= "text-center">
								<%= fields_for "tags[]", tag do |t| %>
								       <%= t.text_field :group_tag_thai_sub, class: "thai_title_field form-control", id: "field-#{tag.id}" %>
								<% end %>
							</td>
						  <% else %>
							<td class= "text-right", id= "label-<%= tag.id %>"><%= tag.group_tag_sub.squish %></td>	
							<td class= "text-center">
								<%= fields_for "tags[]", tag do |t| %>
									   <%= t.hidden_field :group_tag_thai_cat, value: "GARP_#{@cat_container.last}"  %>
								       <%= t.text_field :group_tag_thai_sub, class: "thai_title_field form-control", id: "field-#{tag.id}" %>
								<% end %>
							</td>
						  <% end %>	<%# end of if cat_contain %>													
						 <% end %>
						</tr>		
						<!-- </div>	 -->
					<% end %>	
				</tbody>
				</table>
				</div>
			</div>
		</div>				

	 <% elsif @error_msg == "ERROR SHOP WITH PASSWORD" %>
					<div class="col-md-12 text-center">
						<br>
						<br>
						<h4>Cannot retrieve product tags from your store. Please make sure that your storefront is not password-protected and then hit “Sync tags from shop” button (again). </h4>
						<br>
						<%= link_to "Go back to dashboard", root_path(shop: @shop_domain), class: "btn btn-primary" %>

					</div>
	 <% end %>		
 <% end %><%# endof form_tag %>	



	 <%# link_to 'Charge using one time charges', recurring_application_charges_path, class: 'btn btn-large' %>
</div>




