<div class="container">
	<div class= "row col-md-12">
		<div class= "col-md-12">
			<% if @shop %>	
			<div class= "text-right">	
				<%= button_to 'Sync tag from shop', update_tags_path, method: :get, params: {shop: @shop.shop_domain}, class: "btn btn-primary btn-custom" %>	
			</div>
			<% end %>

		<%= form_tag update_multiple_tags_path, :html => { :method => :put } do %>
			<% if @shop %>
				<br>	
				<div class= "text-right">
					<%= submit_tag "Update tags" , class: "btn btn-primary update-button", disabled:"disabled" %>
				</div>
			<% end %>				

		</div>				
	</div>

	<div class="row">
		<div class="column small-12">


			<div class= "row col-md-12">
				<h3>Tags List</h3>
				Tag number: <%= @tag.count %>	
			</div>
			<br>
			<br>

			<div class="row col-md-12">
			<table class="table table-bordered ">
			<thead>
			<tr>
				<!-- <span class="col-md-6"> -->
				<th class= "text-center">
					Original tags
				</th>
				<!-- </span> -->
				<!-- <span class="col-md-6"> -->
				<th class= "text-center">
					Translated tags
				</th>
				<!-- </span> -->
			</tr>	
			</thead>	
			</div>
			<tbody>
				<% @tag.each do |tag| %>
				<!-- <div class="row"> -->
				<tr>
					<%= hidden_field_tag "shop", @shop.shop_domain %>
					<%= hidden_field_tag "tag_ids[]", tag.id %>
					<!-- <span class="col-md-6"> -->
					<td class= "text-center", id= "label-<%= tag.id %>">
						<%= tag.title %>
					</td>	
					<!-- </span>    -->
					<!-- <span class= "col-md-6"> -->
					<td class= "text-center">
						<%= fields_for "tags[]", tag do |t| %>
						       <%= t.text_field :thai_title, class: "thai_title_field form-control", id: "field-#{tag.id}" %>
						<% end %>
					</td>	
					<!-- </span> -->
				</tr>	
				<!-- </div>	 -->
				<% end %>	
			</tbody>

			<% end %>	


		</div>
	</div>
</div>
