<div class="container">

	<div class="row">
		<div class="column small-12">

			<% if @shop %>
				<%= button_to 'Sync tag from shop', update_tags_path, method: :get, params: {shop: @shop.shop_domain} %>
			<% end %>

			<h2>TAG</h2>
			<div class= "row col-md-12">
				Tag number: <%= @tag.count %>	
			</div>
			<div class="row">
				<span class="col-md-6">
					<h3>Original tag</h3>
				</span>
				<span class="col-md-6">
					<h3>Traslated Tag</h3>
				</span>
			</div>
			<%= form_tag update_multiple_tags_path, :html => { :method => :put } do %>
				<% @tag.each do |tag| %>
				<div class="row">
					<%= hidden_field_tag "shop", @shop.shop_domain %>
					<%= hidden_field_tag "tag_ids[]", tag.id %>
					<span class="col-md-6">
						<%= tag.title %>
					</span>   
					<span class= "col-md-6">
						<%= fields_for "tags[]", tag do |t| %>
						       <%= t.text_field :thai_title %>
						<% end %>
					</span>
				</div>	
				<% end %>	
			<% if @shop %>				
				<%= submit_tag "Update tags" %>	
			<% end %>	

			<% end %>	


		</div>
	</div>
	<%= @asset.inspect %>
</div>


